{% load static %}

<div class="parallax-container">
    <div class="container section">
        <div class="row">
            <div class="about-section">
                <div class="col s12 m3 hide-on-small-only">
                    <img class="materialboxed responsive-img profile-img circle" 
                    src="{% static 'img/definitiva.jpg' %}" alt="perfil" data-caption="Javier Vicente Gerardo Oliveros">
                </div>
                <div class="col s12 m9 about-me">
                    <span>Hola soy</span>
                    <h1>Javier Gerardo</h1>
                    <span class="change">Bienvenido a mi portafolio</span>
                    <p>Ingeniero de sistemas, con un año de experiencia en el desarrollo web,
                        tengo conocimientos de las tecnologías Python,
                        Php, Java, JavaScript, HTML, CSS, MySQL y PostgreSQL, especializado en el 
                        desarrollo y consumo de APIs Rest y Web Scraping. Si deseas un software
                        a medida puedes contactarme. Estoy en constante aprendizaje 
                        y crecimiento profesional y personal.
                    </p>
                </div>
            </div>
            <div class="col s12 m7 hide-on-small-only">
                <div class="row">
                    <div class="col s2">
                        <a href="https://github.com/javicente03" target="_blank">
                            <img class="responsive-img circle" src="{% static 'img/github.png' %}">
                        </a>
                    </div>
                    <div class="col s2">
                        <a href="https://www.linkedin.com/in/javier-vicente-gerardo-oliveros-956940155/" target="_blank">
                            <img class="responsive-img circle" src="{% static 'img/linkedin.png' %}">
                        </a>
                    </div>
                    <div class="col s8">
                        <a class="btn indigo darken-3 btn-large">
                        <i class="material-icons left">attach_file</i>
                        <span class="hide-on-med-and-down">Descarga mi CV</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'img/tecnologia.webp' %}"></div>
</div>

<div class="container hide-on-med-and-up">
    <div class="row">
        <div class="s12">
            <img class="materialboxed responsive-img profile-img circle" 
                    src="{% static 'img/definitiva.jpg' %}" alt="perfil" 
                    data-caption="Javier Vicente Gerardo Oliveros">
        </div>
    </div>
</div>