<div id="contact">
    <div class="container">
        <div class="row about-section">
            <div class="col s12 m6" >
                <h3 class="font-title text-right">¿Quieres comunicarte conmigo?</h3>
                <p class="text-right">Escribeme todas tus dudas y sugerencias
                     en la caja de texto o también puedes escribirme a mi WhatsApp, 
                     te aseguro que me pondré en contacto contigo
                    lo más pronto posible</p>
                    <a href="https://api.whatsapp.com/send?phone=584246089787&text=Hola">Whatsapp</a>
            </div>

            <div class="col s12 m6" >
                <div class="row contact-box" >
                    <div class="col s12">
                        <input type="text" placeholder="Dime tu nombre">
                    </div>
                    <div class="col s12">
                        <input type="email" placeholder="Indícame tu correo electrónico">
                    </div>
                    <div class="col s12">
                        <textarea type="text" placeholder="Detalla tu solicitud por favor"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>