<div id="education" class="scrollspy">
    <div class="container">
        <h3 class="font-title">EDUCACIÓN</h3>
        <div class="row">
            <div class="col s12">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle indigo darken-4">school</i>
                        <p>Ingeniería de Sistemas<br>
                        Universidad Nacional Experimental Politécnica de las Fuerzas Armadas<br>
                           2017-2022
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>