          <footer class="page-footer navcolor">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text" data-lang="title-footer">Puedes contactarme sin ningún compromiso</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                  <ul>
                    <li><a class="grey-text text-lighten-3">Email: Javicentego@gmail.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://linkedin.com/in/javicente03" target="_blank">Linkedin: Javier Vicente Gerardo Oliveros</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://api.whatsapp.com/send?phone=584246089787&text=Hola Javier, deseo consultar algo: " target="_blank">WhatsApp: +58 424-6089787</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/javicente03" target="_blank">Github: @Javicente03</a></li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container center">
              © 2022 Javier_Gerardo.dev
              </div>
            </div>
        </footer>