{% load static %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper navcolor fixed">
            <div class="contenedor-nav">
                <ul class="left">
                    <li><a id="lang_english">
                        <span data-lang="english-button">Inglés</span></a></li>
                    <li><a id="lang_spanish" class="lang-active">
                        <span data-lang="spanish-button">Español</span></a></li>
                </ul>

                <ul class="right hide-on-small-only">
                    <li><a href="#about">
                        <i class="material-icons left">person</i>
                        <span data-lang="about-button" class="hide-on-med-and-down">Sobre mí</span></a></li>
                    <li><a href="#technologies">
                        <i class="material-icons left">code</i>
                        <span data-lang="technologies-button" class="hide-on-med-and-down">Tecnologías</span></a></li>
                    <li><a href="#works">
                        <i class="material-icons left">contact_mail</i>
                        <span data-lang="works-button" class="hide-on-med-and-down">Trabajos</span></a></li>
                    <li><a href="#education">
                        <i class="material-icons left">school</i>
                        <span data-lang="education-button" class="hide-on-med-and-down">Educación</span></a></li>
                    <li><a href="#contact">
                        <i class="material-icons left">contact_mail</i>
                        <span data-lang="contact-button" class="hide-on-med-and-down">Contáctame</span></a></li>
                    
                </ul>

                <ul class="right hide-on-med-and-up">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>    
                </ul>
                
            </div>
        </div>
    </nav>
</div>