{% load static %}
<div class="container scrollpy" id="services">
	<div class="row center">
		<div class="col s12 m4 services">
			<img class="responsive-img" src="{% static 'img/software_medida.png' %}">
			<h5>Software a Medida</h5>
			<p>¿Deseas un software para gestionar tu empresa? Puedo desarrollar justo lo que necesitas, desde una aplicación web a un desktop.</p>
		</div>
		<div class="col s12 m4 services">
			<img class="responsive-img" src="{% static 'img/scraping.png' %}">
			<h5>Web Scraping</h5>
			<p>Si necesitas extraer contenido de una web, no dudes en contactarme.</p>
		</div>
		<div class="col s12 m4 services">
			<img class="responsive-img" src="{% static 'img/api.png' %}">
			<h5>Desarrollo de APIs Rest</h5>
			<p>No lo pienses más, llevemos tu proyecto al otro nivel. Desarrollaré un Api ajustada a tus necesidades.</p>
		</div>
	</div>
</div>