{% load static %}

<div class="technologies scrollspy" id="technologies">
    <div class="container center">
        <h3 class="font-title">TECNOLOGÍAS</h3>
        <div class="row">
            <div class="col s6 m2">
                <img class="responsive-img wb-img" src="{% static 'img/python.png' %}" alt="python" title="python">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img" src="{% static 'img/django.png' %}" alt="django" title="django">
            </div>
            <div class="col s6 m3">
                <img class="responsive-img wb-img" src="{% static 'img/drf.png' %}" alt="django rest framework" title="django rest framework">
            </div>
            <div class="col s6 m3">
                <img class="responsive-img wb-img" src="{% static 'img/php.png' %}" alt="php" title="php">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img" src="{% static 'img/java.png' %}" alt="java" title="java">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img" src="{% static 'img/html.png' %}" alt="html" title="html">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img" src="{% static 'img/css.png' %}" alt="css" title="css">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img" src="{% static 'img/js.svg' %}" alt="js" title="js">
            </div>
            <div class="col s6 m4">
                <img class="responsive-img wb-img" src="{% static 'img/bootstrap.png' %}" alt="bootstrap" title="bootstrap">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img" src="{% static 'img/materialize.png' %}" alt="materialize" title="materialize">
            </div>

        </div>
    </div>
</div>