{% load static %}

<div class="technologies scrollspy" id="technologies">
    <div class="container center">
        <h3 class="font-title" data-lang="technologies-title">TECNOLOGÍAS</h3>
        <div class="row">
            <div class="col s6 m2">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/python.png' %}" alt="python" data-tooltip="python">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/django.png' %}" alt="django" data-tooltip="django">
            </div>
            <div class="col s6 m3">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/drf.png' %}" alt="django rest framework" data-tooltip="django rest framework">
            </div>
            <div class="col s6 m3">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/php.png' %}" alt="php" data-tooltip="php">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/java.png' %}" alt="java" data-tooltip="java">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/html.png' %}" alt="html" data-tooltip="html">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/css.png' %}" alt="css" data-tooltip="css">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/javascript.svg' %}" alt="js" data-tooltip="js">
            </div>
            <div class="col s6 m4">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/bootstrap.png' %}" alt="bootstrap" data-tooltip="bootstrap">
            </div>
            <div class="col s6 m2">
                <img class="responsive-img wb-img tooltipped" data-position="top" src="{% static 'img/materialize.png' %}" alt="materialize" data-tooltip="materialize">
            </div>

        </div>
    </div>
</div>