{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@700&family=Fraunces:wght@700&display=swap" rel="stylesheet">
    <title>Javier_Gerardo.dev</title>
</head>
<body>
    
    {% menu user %}

    <div id="spanish">
        {% about user %}

        {% technologies user %}

        {% works user %}

        {% education user %}

        {% contact user %} 
    </div>

    {% comment %} {% footer user %} {% endcomment %}

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/anime.min.js' %}"></script>
    <script src="{% static 'js/waypoints/lib/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/materialize-elements.js' %}"></script>
    <script src="{% static 'js/dinamic-text.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/animations.js' %}"></script>
    <script src="{% static 'js/translate.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>
</html>