*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgb(217, 217, 250) 25%, rgb(255, 255, 255) 100%);
    font-family: 'Commissioner', sans-serif;
}

.navcolor{
    background-image: radial-gradient(circle at -19.64% 37.72%, #5894cf 0, #222831 50%, #000000 100%);
}

.login-div{
    padding: 10px;
    background: transparent;
    width: 50%;
    margin: 0 auto;
    box-shadow: black 2px 2px 4px;
}